---
import { SITE_TITLE } from "../constants";

type Props = {
	title: string;
	description: string;
	type?: string;
}

const { title, description, type } = Astro.props;

const url = new URL(Astro.url.pathname, Astro.site);
const ogType = type ?? 'website';
---

<!DOCTYPE html>
<html lang="ja">
	<head prefix="og: http://ogp.me/ns#">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<meta name="description" content={description}>

		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:url" content={url}>
		<meta property="og:locale" content="ja_JP">
		<meta property="og:image" content={`${url}ogp.jpg`}>
		<meta property="og:type" content={ogType}>
		<meta property="og:site_name" content={SITE_TITLE}>
		<meta name="twitter:card" content="summary_large_image">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
